<!-- blog/templates/blog/index.html -->

{% extends "base.html" %}

{% block page_title %}
    <h1 class="max-w-lg m-auto p-8 text-2xl mt-12">Blog</h1>
{% endblock page_title %}

{% block page_content %}
<div class="max-w-lg m-auto p-8">
    {% block posts %}
        {% for post in posts %}
        <div class="flex items-center mb-2">
            <div class="flex items-center mr-3">
               <div class="text-sm text-purple-400">{{ post.created_on|date:'Y' }}</div>
               <div class="mx-[2px] text-purple-400">.</div>
               <div class="text-sm text-purple-400">{{ post.created_on|date:'m' }}</div>
            </div>
            <h3 class="text-sm text-[#161616] underline underline-offset-4"><a href="{% url 'blog_detail' post.pk %}">{{ post.title }}</a></h3>
         </div>
        {% endfor %}
    {% endblock posts %}
   </div>
{% endblock page_content %}
